html, body {
    height: 100%;
    padding: 0;
    margin: 0 0 0 0;
    background-color: black;
    overflow-x: hidden;
}

.timer-block .text {
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: 900;
    color: white;
}

.timer-block .timer-line {
    height: 5px;
    background-color: grey;
    position: relative;
    overflow: hidden;
}

.timer-block .timer-line > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to right, #FF512F 0%, #DD2476 100%);
    transition: 1s linear;
}

.timer-block .timer-numbers {
    position: absolute;
    top: -10px;
    right: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    color: white;
}

.info {
    text-align: center;
}

.title, a {
    color: gainsboro;
    font-size: 3rem;
    font-weight: bold;
    margin: 4rem 0 0 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to top, #FF512F 0%, #DD2476 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-size: 1rem;
    z-index: 20;
}